@use '../colors' as *;

@mixin mobile-text {
	font-family: 'Barlow', sans-serif;
	width: 32.7rem;
	font-size: 1.5rem;
	line-height: 2.5rem;
	color: $light-grayish-blue;
	text-align: center;
}

@mixin tablet-text {
	width: 57.3rem;
	font-size: 1.6rem;
	line-height: 2.8rem;
}

@mixin desktop-text {
	width: 44.4rem;
	font-size: 1.8rem;
	line-height: 3.2rem;
	text-align: left;
}

@mixin mobile-heading {
	font-size: 1.6rem;
	letter-spacing: 0.27rem;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
}

@mixin mobile-heading-span {
	font-weight: bold;
	opacity: 25%;
}

@mixin tablet-heading {
	font-size: 2rem;
	letter-spacing: 0.338rem;
}

@mixin desktop-heading {
	font-size: 2.8rem;
	letter-spacing: 0.472rem;
	text-align: left;
}
